@using IPC.Correios.Web.Models

@*@model List<IPC.Correios.Web.Models.Logradouro>*@

@model IEnumerable<IPC.Correios.Web.Models.Logradouro>


@{
    ViewBag.Title = "Busca Cep";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>BuscaCep</h2>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();

    @*@Html.DropDownList("Municipio", EnumHelper.GetSelectList(typeof(Logradouro)), "Seleciona Município", new { @class = "form-control" })*@

    @*@Html.DropDownList("StatusImovel", new MultiSelectList(ViewBag.ListaStatus, "IdStatus", "Descricao", ViewBag.StatusSelecionados), new { @hidden = "hidden", @multiple = "multiple", @form = "nulo" })*@


    //@Html.DropDownList("Municipio", new SelectList(Enum.GetValues(typeof(Logradouro))), "Seleciona Município", new { @class = "form-control" })

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Municipio)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Municipio)
                </td>


            </tr>
        }

    </table>
}

<div>
    <a class="btn btn-primary" @Html.ActionLink("Voltar", "Index")</a>
</div>
